name: Run pytest on Pull Request

on: [push,pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      ES_SERVER: ${{ secrets.ES_SERVER }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r fmatch/requirements.txt 

    - name: Run pytest
      run: |
        python -m pytest fmatch/tests --cov --random-order
